<!-- <section id="flashcard">
  <article class="card">
    <div class="back-end"  [@heroState]="state" (click)="toggleState()">
      <div class="question-container">
          <div class="question">{{flashcards[cardIndex].word}}</div>
      </div>

      <div class="answer-container">
          <div class="answer" *ngIf="!answerHidden">
              {{flashcards[cardIndex].definition}}
              <small>{{flashcards[cardIndex].example}}</small>
          </div>
      </div>
    </div>
  </article> -->


  
<!-- <section id="flashcard">   
  <div class="back-end"  [@heroState]="state" (click)="toggleState()">
    
    <div class="question-container">
        <div class="question">{{flashcards[cardIndex].word}}</div>
    </div>

    <div class="answer-container">
        <div class="answer" *ngIf="!answerHidden">
            {{flashcards[cardIndex].definition}}
            <small>{{flashcards[cardIndex].example}}</small>
        </div>
    </div>

  </div>
</section>  -->


  <!-- <div class="card-stack-1"></div>
  <div class="card-stack-2"></div>
  <div class="card-stack-3"></div> -->

<!-- <section id="controls">
  <button class="back" [class.faded]="cardOrderIndex.length < 1" (click)="goToPrevCard()">&lt;</button>
  <!-- <button class="show-answer" [@heroState]="state" (click)="toggleState()">show answer</button> -->
  <!-- <button class="next" (click)="goToNextCard()">&gt;</button>
</section> --> 

<section *ngIf="flashcards[cardIndex].type == 0" id="flashcard">
  <div class="tp-wrapper">
    <div class="tp-box" (click)="toggleState()" [@heroState]="state">
      <div class="tp-box__side1 tp-box__front">
        <div class="question">{{flashcards[cardIndex].word}}</div>
      </div>
      <div class="tp-box__side2 tp-box__back">
        <div class="answer" *ngIf="answerHidden">
          {{flashcards[cardIndex].definition}}
          <small>{{flashcards[cardIndex].example}}</small>
        </div>
      </div>
    </div>
  </div>
</section>

<section *ngIf="flashcards[cardIndex].type == 1">
  <div>{{flashcards[cardIndex].content}}</div>
  <button *ngFor="let answer of flashcards[cardIndex].answers">{{answer}}</button>
</section>

<section id="controls">
  <button class="back" [class.faded]="cardOrderIndex.length < 1" (click)="goToPrevCard()">&lt;</button>
  
  <button class="next" [class.faded]="cardIndex > flashcards.length - 2" (click)="goToNextCard()" >&gt;</button>
</section> 