/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f0e8e8;
    font-family: 'Rambla', sans-serif;
    font-size: 18px;
    color: rgb(12, 12, 12);
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box; }